:root {
  --menutextcolor: #4a4a4a;
  --backgroundcolor: #3cdbc0;
  --maintextcolor: #ffffff;
  --font-family: "Rubik", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  background-color: whitesmoke;
}

.menu_bar {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  color: var(--menutextcolor);
  text-transform: uppercase;
}

.logo {
  padding-top: 10px;
  padding-right: 50%;
}

.sector_1 {
  background-color: var(--backgroundcolor);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: block;
  text-align: center;
  font-size: 30px;
  color: var(--maintextcolor);
  font-family: var(--font-family);
  text-transform: capitalize;
}

.blog {
}
